/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

ul, li {list-style-type:none;}

a {text-decoration:none;}
a:hover {text-decoration:underline; cursor:pointer;}

/* Page Style */

body {background:#FFFFFF url(images/page_background.gif) repeat scroll 0 0; margin:0; padding:0;}


body * {font-family:Georgia;}

  #wrap {margin:0 auto 80px auto; width:900px ; padding:0 0 0 0;}

    #header {position:relative; height:290px;}

      #header h1#logo {
        background:url(images/logo.png) no-repeat;
        width:451px;
        height:227px;
        position:absolute;
        top:-30px;
        left:-74px;
        z-index:-999;
        }

      #contact {
        float:right;
        text-align:right;
        width:420px;
        height:64px;
        margin:20px 20px 0 0;
        padding:13px 20px 20px;
        }

        #contact h2 {
          text-transform: uppercase;
          font-size: 18px;
          color:#585858;
          padding:0 0 13px 0;
          margin:0 0 13px 0;
          border-bottom:1px solid #f2efea;
          letter-spacing:1px;
          text-align:left;
        }

        #contact em {
          font-size: 16px;
          color:#e1ddd5;
          font-style:italic;
        }

          #contact em span,
          #contact em a {
            color:#fb9f00;
          }

      #tagline {
        float:right;
        width:820px;
        height:81px;
        margin:34px 20px 0 0;
        position:relative;
        padding:20px;
        color:#505050;
        }

        #tagline h2 {
          float:left;
          font-size:36px;
        }

        #tagline p {
          float:right;
          padding:4px 0 0;
          width:418px;
          font-size:17px;
          font-style:italic;
          line-height:24px;
        }

		#content {position:relative; height:572px;}

		#content h3 {color:#980138; padding:25px 20px 13px 0; font-size:21px;}

		#content p {color:#4f4f4f; font-size:15px; line-height:21px; font-style:italic; padding:0 20px 20px 0;}

		#content a {color:#980138; font-size:15px; line-height:21px; font-style:italic;}

      a#site-back,
      a#quote-back {
        position:absolute;
        top:20px;
        left:0;
        height:287px;
        width:20px;
      }

      a#site-forward,
      a#quote-forward {
        position:absolute;
        top:20px;
        right:0;
        height:287px;
        width:20px;
      }

      a#quote-forward, a#quote-back {height:184px !important;}

      a#site-forward:hover {background: url(images/large-slide.png) no-repeat -60px 0;}
      a#site-back:hover {background: url(images/large-slide.png) no-repeat 0 0;}

      a#site-forward {background: url(images/large-slide.png) no-repeat -40px 0;}
      a#site-back {background: url(images/large-slide.png) no-repeat -20px 0;}

      a#quote-forward:hover {background: url(images/small-slide.png) no-repeat -60px 0;}
      a#quote-back:hover {background: url(images/small-slide.png) no-repeat 0 0;}

      a#quote-forward {background: url(images/small-slide.png) no-repeat -40px 0;}
      a#quote-back {background: url(images/small-slide.png) no-repeat -20px 0;}

      .slides ul {z-index:999 !important;}

      #site-gallery, #thankyou {
        width:900px !important;
        height:328px;
        margin-bottom:10px;
        float:right;
        position:relative;
 }

        #site-gallery .container {
          width:840px;
          height:328px;
          position:absolute;
          right:20px;
          padding:10px;
          overflow:hidden;
        }
     
		#thankyou .container {width:860px;position:absolute;right:20px;}
 		#thankyou .container p, #thankyou .container h3 {margin-left: 20px;}

        .container .slides {width:840px; overflow:hidden;}

			#site-gallery ul li {margin-right:20px;}

            #site-gallery li div {background:#f3f2ef; width:840px; height:308px;}
			
			#site-gallery li div p {font-size: 14px; line-height:18px;}

            #site-gallery li div img {float:left;width:500px; height:308px; margin-right:30px;}

      #quote-gallery {
        width:900px !important;
        height:223px;
        float:right;
        position:relative;

      }

        #quote-gallery .container {
          width:840px;
          height:204px;
          position:absolute;
          right:20px;
          padding:10px;
          overflow:hidden;
        }

        #quote-gallery li {background:#fff; width:900px !important;}

          #content #quote-gallery img {float:left;width:310px; height:206px; margin-right:59px;}

          #content  #quote-gallery p {color:#980138; font-size:21px; line-height:28px; font-style:italic; padding:24px 70px 0 0; height:137px;}

          #content #quote-gallery strong {color:#505050; font-size:14px; line-height:28px; font-family:'Arial';}

    #recruiting, #job {
		margin: 0 0 20px 20px;
		padding: 20px;
		width: 820px;
		background-color: #FB9F00 !important;
 	}

	#recruiting h3, #recruiting p {
		padding: 0;
		color: #fff;
	}
	
	#recruiting h3, #job h4 { margin-bottom: 10px; }
	#recruiting p, #recruiting a { font-size: 17px; }
	
	#job-page #content { height: auto; }
	#job strong { text-decoration: underline; display: block; margin: 10px 0;}
	
	#job {
		background: #fff !important;
	}
	
	#job h4 {
		margin-top: 20px;
	}
	
	#job p { font-style: normal; }
	
	#job ul li { color: #4F4F4F; }
	
	.small { font-size: 10px !important; font-style: italic !important; }

    #footer { position:relative; height:235px; }

      #meet-us {
        width:510px;
        height:125px;
        float:left;
        padding:15px 20px 20px 20px;
        margin:0 0 0 20px;
      }

        #meet-us h4 {
          font-size:18px;
          margin-bottom:13px;
          color:#980138;
        }

        #meet-us a {
          color:#fb9f00;
        }

        #pop-in {
          width:220px;
		  margin:0 40px 0 0;
          float:left;
          color: #4f4f4f;
          font-style:italic;
          font-size:13px;
          line-height:18px;
        }

          #pop-in strong {
            color:#292929;
          }

        #address {
          float:left;
          color:#292929;
          font-style:italic;
          font-size:14px;
          line-height:18px;
        }

          #address strong {
            font-weight:bold;
            color:#980138;
          }

        #phone {
          width:147px;
          float:right;
          color:#292929;
          font-style:italic;
          font-size:14px;
          line-height:18px;
          padding:14px 0 0 10px;
        }

      #mailing {
        width:260px;
        height:125px;
        float:right;
		margin: 0 20px 0 0;
        padding:15px 20px 20px 20px;
      }

        #mailing h4 {
          font-size:18px;
          margin-bottom:10px;
          color:#980138;
        }

        #mailing p {
          color:#505050;
          font-size:13px;
          line-height:18px;
          font-style:italic;
        }

        #mailing form {
          margin-top:18px;
        }

          form input#go {
            width:30px;
            height:30px;
            background:url(images/go.gif) no-repeat !important;
            border:0;
            float:right;
          }

          form input#email {
            width:190px;
            height:22px;
            background:url(images/input.gif) no-repeat;
            border:0;
            float:left;
            padding:8px 15px 0px;
            font-family:'Arial';
            color:#585858;
            font-size:11px;
            line-height:20px;
          }

          form input#go:hover {cursor:pointer;}

      #legal {
        width:820px;
        height:52px;
        float:right;
        margin:10px 20px 20px 0;
        padding:11px 20px 0px;
      }

        #legal h4 {
          float:left;
          font-size:18px;
          color: #505050;
          margin-top:9px;
        }

        #legal p {
          float:right;
          font-family:'Arial';
          font-size:9px;
          line-height:14px;
          text-align:right;
          color:#585858;
          font-weight:bold;
        }

.maroon {color:#980138;}
.yellow {color:#fb9f00;}

#contact,
#tagline,
#meet-us,
#mailing,
#legal,
#recruiting,
#job,
#quote-gallery .container,
#site-gallery .container,
#thankyou .container {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(border-radius.htc);
  background:#fff;
  border:#fff;
}


#header h1#logo,
form input#go,
a#site-forward,
a#quote-forward,
a#site-back,
a#quote-back  {
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;}

#recruiting:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

